<div id="wrapper">

	<img src="images/squash.jpg" id="image_about">

	<div id="content_about">
		<p id="text_box">
			From its opening in 2011, <b>'Blank'</b> restaurant has been at the forefront of the farm to table movement. <i>Chef Iluv Vegetales</i> respects and appreciates the purity of ingredients and is dedicated to finding the freshest, locally grown produce to serve in his restaurant. <b>'Blank'</b> has developed relationships with farmers, foragers, and members of our community to create a precisely focused, unique dining experience that celebrates the fresh produce of each season. <br><br> At <b>'Blank'</b>, we aim to reintroduce dining as an experience which people take time to enjoy, reveling in the indulgence of all one's senses. We also believe dining should be fun, with freshness and surprises in the menu, and warmth and knowledge in the dining room service. We look forward to having you join us soon to experience our vision for yourself.<br><br>I ran out of useful things to say so I am adding this superfluous text to allow my scrollbar to appear. You should know that our food is really good. Like really really good. And I know what you are thinking... All vergetarian restaurant? Where's the meat? Well. You don't need meat and our food is so dellicious that you won't miss it at all.
		</p>
	</div>

	<div id="container_outer">
		<div id="container_inner">
			<h1 id="modal-text">Receive 10% off your next bill when you show your server a screenshot of this ad.</h1>
		</div>
	</div>

</div>

