<div id="wrapper">

	<img src="images/squash.jpg" id="image_about">

	<div id="content_about">
		<p id="text_box">
			From its opening in 2011, 'Blank' restaurant has been at the forefront of the farm to table movement. Chef Iluv Vegetales respects and appreciates the purity of ingredients and is dedicated to finding the freshest, locally grown produce to serve in his restaurant. 'Blank' has developed relationships with farmers, foragers, and members of our community to create a precisely focused, unique dining experience that celebrates the fresh produce of each season. <br><br> At 'Blank', we aim to reintroduce dining as an experience which people take time to enjoy, reveling in the indulgence of all one's senses. We also believe dining should be fun, with freshness and surprises in the menu, and warmth and knowledge in the dining room service. We look forward to having you join us soon to experience our vision for yourself.<br><br>hajsdhsklf hadsifhdj fska;hfioehf fkhdsfkjh ehsfk dscdskjfgd hjdshf f kjsdhf jkasdfundsk af dskjfjkdshfguidsn dskvhjkdfh djkgiugh ds ehfuiehfksdjhfu  hfsjak  ashfkjs f
		</p>
	</div>

</div>

