<div id="wrapper">
<p>
	'Blank' could be the venue for your next special event. Share your vision and contact information below, and our events specialist will provide you with pricing and event information.
</p>


<form>
	<label>
		First Name
	<input id="fname" name="fname" type="text" size="30" />
</label>
	<label>
	Last Name 
	<input id="lname" name="lname" type="text" size="30" />
</label>
	<label>
		Email
		<input id="email" name="email" type="text" size="30"/>
	</label>
		<label>
			<label for="message">Message</label>
	<input type="text" name="message" >
	<input type="submit">
</form>
</div>