<div id="wrapper">
<p>
	'Blank' could be the venue for your next special event. Share your vision and contact information below, and our events specialist will provide you with pricing and event information.
</p>

<div class="form">
<form>
	<label>
		First Name
	<input id="fname" name="fname" type="text" size="30" />
</label>
	<label>
	Last Name 
	<input id="lname" name="lname" type="text" size="30" />
</label><br><br>
	<label>
		Email
		<input id="email" name="email" type="text" size="30"/>
	</label><br><br>
	<div class="message">
		<label>
			Message<br>
	<textarea rows="7" cols="50" name="message"/>
		</textarea>
	</label><br>
	<input id="submit" type="submit">
</div>
</form>
</div>
</div>