<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>

		<h1 id="name">Restaurant Name</h1>

		<%= yield %>


		<nav id="navbar">
			<ul id="ul_navbar">
				<li class="li_navbar"><a href="">Home</a></li>
				<li class="li_navbar"><a href="">About</a></li>
				<li class="li_navbar"><a href="">Menu</a></li>
				<li class="li_navbar"><a href="">Reservations</a></li>
			</ul>
		</nav>

		<footer>
			<a href="" id="address">90 John St, New York, NY 10013</a>
			<a href="" class="social">Pinterest</a>
			<a href="" class="social">Instagram</a>
			<a href="" class="social">Facebook</a>
		</footer>


	</body>
</html>