<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Restaurant Name</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>

		<h1 id="name">Restaurant Name</h1>

		<%= yield %>


		<nav>
			<ul id="ul_navbar">
				<li id="li_navbar"><a href="" id="a_navbar">Home</a></li>
				<li id="li_navbar"><a href="" id="a_navbar">About</a></li>
				<li id="li_navbar"><a href="" id="a_navbar">Menu</a></li>
				<li id="li_navbar"><a href="" id="a_navbar">Reservations</a></li>
			</ul>
		</nav>

		<footer>
			<a href="" id="address">Address Link</a>
			<a href="" class="social">Pinterest</a>
			<a href="" class="social">Instagram</a>
			<a href="" class="social">Facebook</a>
		</footer>


	</body>
</html>