<div id="wrapper">
	<img src="images/salad.jpg" id="img_menu">
	<div class="menu">
		<h3>Daily Menus</h3>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
			</p>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</p>
			
			<ul id="ul_menu">
				<li><a href="files/breakfast_menu.pdf" target="_blank">Breakfast</a></li>
				<li><a href="files/lunch_menu.pdf" target="_blank">Lunch</a></li>
				<li><a href="files/dinner_menu.pdf" target="_blank">Dinner</a></li>
			</ul>
	</div>
<!-- 	<img src="images/radishes.jpeg" id="img_menu"> -->
</div>