<div id="wrapper">
	<div class="menu">
	<h3>Daily Menus</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		</p>
	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</p>
			<br>
			<ul id="ul_menu">
				<li>Breakfast</li>
				<li>Lunch</li>
				<li>Dinner</li>
		</div>
	</div>