<div id="wrapper">
	<img src="images/egg.jpg" id="img_reservations">
	<div class="reservations">
		<h3>Reservations</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</p>
		
	</div>
</div>