<div id="wrapper">
	<img src="images/egg.jpg" id="img_reservations">
	<div class="reservations">
		<h3>Reservations</h3>
		<p>Blank is open from 5:30pm-11:00pm, Tuesdays through Fridays, and 10:00am-9:00pm Saturdays and Sundays. To plan your event in one of our private dining rooms, please <a href="mailto:syncorey@gmail.com?Subject=Reservation" target="_top">Email us.</a>
		</p>
		<form>
			<label>
				<span>Party size</span><input id="party size" type="number" name="party size"/>
			</label>
			<label>
				<span>Date</span><input id="date" type="date" name="date"/>
			</label>
			<label>
				<span>Time</span><input id="time" type="time" name="time"/>
			</label>
		</form>
		
	</div>
</div>