html	{
	font-family: 'Josefin Sans', sans-serif;
}

#name	{
	color: darkslategrey;
	width: 24%;
	margin: 0 auto;
	margin-top: 3%;
	display: none;
}

#img_home  {
	width: 70%;
	height: 450px;
	border: 1px solid lightgrey;
	margin: 2% 10% 5% 15%;
	display: none;
}

#img_menu	{
	width: 70%;
	height: 450px;
	float: right;
	margin: 0 0 10% 2%;
	border: 1px solid lightgrey;
}
#img_reservations {
	width: 70%;
	height: 450px;
	float: right;
	margin: ;
	border: 1px solid lightgrey;
}
#wrapper	{
	width: 80%;
	height: 450px;
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 2%;
	border: 1px solid lightgrey;
}

.menu		{
	width: 20%;
	height: 400px;
	margin: 2% 10% 10% 5%;
	padding-top: 40px;
}
#ul_menu li{
	list-style-type: none;
	padding: 4px;
}
.reservations {
	width: 20%;
	height: 400px;
	margin: 2% 10% 10% 5%;
	padding-top: 40px;
}
.reservations form {
	font-size: 14px;
	border-radius: 10px;

}

#ul_navbar {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
}

.li_navbar {
	text-decoration: none;
	display: inline;
	padding-right: 15%;


}
















#navbar {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 8%;
	padding-left: 16%;
	display: none;
}

#address {
	padding-right: 43%;
}

.social {
	padding-right: 3%;

}

footer {
	width: 80%;
	margin-left: 11%;
	position: fixed;
}

a {
	text-decoration: none;
	color: darkslategrey;
}

a:hover {
	color: orange;
}

#text_box {
	height: 450px;
	width: 20%;
	padding-left: 2%;
	font-size: 18px;
}

p#text_box::-webkit-scrollbar {
   width: 8px;
}

p#text_box::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
}

p#text_box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

p#text_box {
	height: 440px;
	width: 250px;
	margin: 0;
	padding: 0;
	border: none;
	padding-top: 5px;
	padding-left: 5px;
	overflow-y: scroll;
	display: none;
 }
 
#image_about {
 	float: right;
	top: 10px;	
	display: none;
 }
 
#container_about {
	width: 250px;
	height: 450px;
}













