html{
	font-family: 'Josefin Sans', sans-serif;
}
#name {
	color: darkslategrey;
	width: 24%;
	margin: 0 auto;
}

#img_home  {
	width: 80%;
	height: 450px;
	border: 1px solid lightgrey;
	margin: 2% 10% 5% 10%;
}
#wrapper{
	width: 80%;
	height: 450px;
	margin: 0 auto;
	
}
.menu {
	width: 20%;
	height: 400px;
	margin-left: 50px;
	padding-top: 40px;
}


#ul_navbar {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
}

.li_navbar {
	text-decoration: none;
	display: inline;
	padding-right: 15%;


}






























#navbar {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 12%;
	padding-left: 16%;
}

#address {
	padding-right: 43%;
}

.social {
	padding-right: 3%;

}

footer {
	width: 80%;
	margin-left: 11%;
	position: fixed;
}

a {
	text-decoration: none;
}














